.carousel{
    max-width: 500px;
    margin: auto;
    height: 300px;;
}

.badgee{
    background-color: #eeeeee;
}
.button-group{
    background-color: #eeeeee;

}
.modall{
    background-color: #e0f7fa ;

}
.paginationn{
    background-color: #eeeeee;

}